{% extends 'base.html' %}
{% block content %}
<div class="about">
<h1>About Foodie</h1>
<h4>Welcome to Foodie, where we celebrate together the joy of food adventures around the world!

    My passion for food and travel led me to create Foodie – a platform for everyone who loves exploring new tastes and sharing their food journeys.
    
    Whether you're a seasoned foodie or just starting to explore, Foodie is your place to capture and share the moments that make dining experiences unforgettable.
    
    Join our community of food enthusiasts and embark on a delicious journey together. Let's savor every bite and create memories that last a lifetime with Foodie!</h4>
<hr>
</div>


{% endblock %}