body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  background: url('https://live.staticflickr.com/65535/53695826401_e99fab033b_o.jpg') center center/cover; 
  color: #333;
}

.welcome  {
  text-align: left;
}
.about {
  background-color: #f3e5ab98 ;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.offset-m3 {
  background-color: #f3e5ab98 ;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.responsive-table {
  background-color: #f3e5ab98 ;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

header.navbar-fixed nav {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f3e5ab; 
}

nav {
  background-color: #f3e5ab; 
}

.nav-wrapper {
  padding: 0 20px;
}

.nav-wrapper ul li a {
  font-size: 28px; 
  color: black;
}

a {
  color: #333; 
  text-transform: uppercase;
}

main {
  flex: 1;
  padding: 20px;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f3e5ab98 ;
}

.card-content {
  padding: 20px;
}

.card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 10px 20px;
}

.btn {
  background-color: ;
  color: white;
}

.page-footer {
  padding: 10px 20px;
  background-color: #f3e5ab;
  color: #fff; 
  font-size: 28px;
}

form[action*="logout"] {
  display: inline;
  padding: 0;
  margin: 0;
}

form[action*="logout"] button {
  border: none;
  background: none;
  color: black;
  font-size: 28px;
  cursor: pointer;
}